# --- Project ---
ci-secrets
ci-secrets/*
ci-secrets.tar.gz

# --- AWS ---
ci/aws_credentials

# --- IntelliJ IDEA ---
.idea
*.iml
out

# --- Packer ---
packer/packer-vars.json

# --- Python ---
*.egg-info
*.pyc
.pytest_cache
__pycache__
venv
virtualenv
.tox

# --- PyInstaller ---
dist
build
*.spec

# --- Kubernetes ---
.kube